<style type="text/css">
<!--


BODY {
   font-family: lucida, typewriter, sans-serif;
   font-size: 10pt;
   text-decoration: none;
}
        

.hilite {background-color: yellow}


DD, TD, P, UL {
   font-family: lucida, helvetica, sans-serif;
   font-size: 8pt;
}

TT {
   font-family: fixed, lucidatypewriter, courier new;
   font-size: 10pt;
}

.NAVI {
   font-size: 10pt;
}

A:LINK { 
	color: #fefefe; 	
	text-decoration:none; 
}	
A:VISITED { 
	color: #fefefe; 	
	text-decoration:none; 
}	
A:ACTIVE {  
	color: #fefefe; 	
	text-decoration:none; 
}	
A:HOVER { 
	color: #ffffff; 	
	text-decoration:underline }


TT, PRE { 
        font-family: lucidatypewriter, courier, fixed;
        font-size: 10pt;
        color: black; 
}

.COPY { 
        font-family: lucida, helvetica, sans-serif;
        font-size: 10pt;
        color: #979492; 
}

H1 { font-weight: bold; font-size: 12pt; }
H2 { font-size: 10pt; }
H3 { font-size: 8pt; }
H3 { font-size: 6pt; }
H4, H5, H6, H7 { font-size: 6pt; }


SUP { font-size: 8pt; }

SPAN.DT { font-weight: bold; padding-top: 8pt; }

.DATESTAMP {
        font-family: lucida, helvetica, sans-serif;
        font-size: 10pt; 
}

-->
</style>


